@import "../../variables";

#impact{
    color: $color-darkBlue;
    text-align: center;

    .pillars{
        padding: 0 5rem;
        margin: 10rem 0;
        display: flex;
        justify-content: space-around;
        color: $color-darkBlue;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            width: 20rem;
            img{
                width: 150px;
            }
            h3{
                margin-bottom: 3rem;
            }
        }
    }
}