@import "../../variables";

#emergency{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .emergencyText{
        color: $color-darkBlue;
        margin-bottom: -8rem;
    h2{
        margin-bottom: 6rem;
    }
    p{
        padding: 0 17rem;
    }
}
img{
    z-index: -1;
}
}