// colors
$color-darkBlue: #002743;
$color-lightBlue: #00ACB0;
$color-green: #27AE60;
$color-yellow: #FFCC38;
$color-red: #E62460;
$color-grey: #F8F9FA;
$color-white: #F6F6F6;
$color-pureWhite: #FFFFFF;

// font family
$font-stack: "Fira Sans", sans-serif;


// sizes
$h1-size: 4rem;
$h2-size: 3.25rem;
$h3-size: 2.75rem;
$h4-size: 2.25rem;
$p-size: 1.5rem;
$a-size:1.5rem;