@import "./variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: $font-stack;
  h1{
    font-size: $h1-size;
  }
  h2{
    font-size: $h2-size;
  }
  h3{
    font-size: $h3-size;
  }
  h4{
    font-size: $h4-size;
  }
  p{
    font-size: $p-size;
  }
}
.red {
  color: $color-red;
}
.yellow {
  color: $color-yellow;
}
.green {
  color: $color-green;
}
section{
  padding-top: 8rem;
}
.buttonRed{
  padding: 2rem;
  border-radius: 100px;
  background-color: $color-red;
  color: $color-pureWhite;
  font-weight: bold;
  font-size: $p-size;
  width: 35rem;
  &:hover{
    filter: brightness(90%);
  }
}