@font-face {
  font-family: FiraSans-bold;
  src: url(./fonts/Fira_Sans/FiraSans-Bold.ttf);
}

@font-face {
  font-family: FiraSans-medium;
  src: url(./fonts/Fira_Sans/FiraSans-Medium.ttf);
}

@font-face {
  font-family: FiraSans-regular;
  src: url(./fonts/Fira_Sans/FiraSans-Regular.ttf);
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  color: #002743;
}
