@import "./variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
}

body {
  position: relative;
  font-family: $font-stack;
  height: 100vh;
}

.red {
  color: $color-red;
}
.yellow {
  color: $color-yellow;
}
.green {
  color: $color-green;
}

.buttonRed{
  padding: 2rem;
  border-radius: 100px;
  background-color: $color-red;
  color: $color-pureWhite;
  font-weight: bold;
  font-size: $p-size;
  width: 35rem;
  &:hover{
    filter: brightness(90%);
  }
}